# Specific files #
##################
test.tex

# LaTeX stuff #
###############
*.pdf
*.aux
*.nav
*.out
*.snm
*.toc
*.txss
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.listing
*.dvi
*.ind
*.ilg
*.idx
*.gif

# add example from duckpond #
#############################

!/duckpond/*.pdf
!/duckpond/*.png
!/duckpond/*.svg
!/duckpond/*.gif
!documentation.pdf
storage
PrivateCollection
build
tikzducks-ctan.curlopt

testing/

crinklepaper.png

duckpond/Frida_fabric.jpg

duckpond/include/Great_Wall_of_China.jpg

duckpond/include/MonaLisa.png

duckpond/include/SoupCan.jpg

duckpond/include/zebra-938706_960_720.jpg
tikzducks-doc.pyg
