name: Check for typos

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Check spelling
        uses: crate-ci/typos@v1.39.2
        with:
          config: .github/workflows/typos.toml